# VANGUARD AB TEST

## METADATA HELP

This comprehensive set of fields will guide your analysis, helping you unravel the intricacies of client behavior and preferences.

- **client_id**: Every client’s unique ID.
- **variation**: Indicates if a client was part of the experiment.
- **visitor_id**: A unique ID for each client-device combination.
- **visit_id**: A unique ID for each web visit/session.
- **process_step**: Marks each step in the digital process.
- **date_time**: Timestamp of each web activity.
- **clnt_tenure_yr**: Represents how long the client has been with Vanguard, measured in years.
- **clnt_tenure_mnth**: Further breaks down the client’s tenure with Vanguard in months.
- **clnt_age**: Indicates the age of the client.
- **gendr**: Specifies the client’s gender.
- **num_accts**: Denotes the number of accounts the client holds with Vanguard.
- **bal**: Gives the total balance spread across all accounts for a particular client.
- **calls_6_mnth**: Records the number of times the client reached out over a call in the past six months.
- **logons_6_mnth**: Reflects the frequency with which the client logged onto Vanguard’s platform over the last six months.

In [ ]:
%load_ext autoreload
%autoreload 2

In [261]:
import pandas as pd
from cleaning import *
from mining import *
from dotenv import load_dotenv
import os
import yaml

In [ ]:
# Load environment variables
load_dotenv()

In [ ]:
# Load config
config = parse_config()

## Data Mining

In [264]:
#TODO: find a way to import and merge web data 2
#TODO: adapt function to remote url + save to sql to prevent large repo

In [ ]:
dataFrames = { name:import_data_from_config(config, name) for name in config['tables']}

In [284]:
display_dataFrames(dataFrames)

'clients'

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0
1,2304905,7.0,94.0,58.0,U,2.0,110860.30,6.0,9.0
2,1439522,5.0,64.0,32.0,U,2.0,52467.79,6.0,9.0
3,1562045,16.0,198.0,49.0,M,2.0,67454.65,3.0,6.0
4,5126305,12.0,145.0,33.0,F,2.0,103671.75,0.0,3.0
...,...,...,...,...,...,...,...,...,...
70604,7993686,4.0,56.0,38.5,U,3.0,1411062.68,5.0,5.0
70605,8981690,12.0,148.0,31.0,M,2.0,101867.07,6.0,6.0
70606,333913,16.0,198.0,61.5,F,2.0,40745.00,3.0,3.0
70607,1573142,21.0,255.0,68.0,M,3.0,475114.69,4.0,4.0
70608,5602139,21.0,254.0,59.5,F,3.0,157498.73,7.0,7.0

'experiment'

       client_id Variation
0        9988021      Test
1        8320017      Test
2        4033851   Control
3        1982004      Test
4        9294070   Control
...          ...       ...
70604    2443347       NaN
70605    8788427       NaN
70606     266828       NaN
70607    1266421       NaN
70608    9895983       NaN

[70609 rows x 2 columns]

'visits'

,client_id,visitor_id,visit_id,process_step,date_time,client_id,visitor_id,visit_id,process_step,date_time
0,9988021.0,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07,763412,601952081_10457207388,397475557_40440946728_419634,confirm,2017-06-06 08:56:00
1,9988021.0,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51,6019349,442094451_91531546617,154620534_35331068705_522317,confirm,2017-06-01 11:59:27
2,9988021.0,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22,6019349,442094451_91531546617,154620534_35331068705_522317,step_3,2017-06-01 11:58:48
3,9988021.0,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13,6019349,442094451_91531546617,154620534_35331068705_522317,step_2,2017-06-01 11:58:08
4,9988021.0,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04,6019349,442094451_91531546617,154620534_35331068705_522317,step_1,2017-06-01 11:57:58
...,...,...,...,...,...,...,...,...,...,...
412259,NaN,NaN,NaN,NaN,NaN,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:46:10
412260,NaN,NaN,NaN,NaN,NaN,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:45:29
412261,NaN,NaN,NaN,NaN,NaN,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:44:51
412262,NaN,NaN,NaN,NaN,NaN,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:44:34
412263,NaN,NaN,NaN,NaN,NaN,674799,947159805_81558194550,86152093_47511127657_716022,start,2017-06-03 12:17:09

## Data Cleaning

In [267]:
#TODO: don't impose categories?
#TODO: consider binning / pd.cut / qcut for numerical data

In [ ]:
# Rename columns
def rename_columns(dataFrames, config):
    for name, dataFrame in dataFrames.items():
        new_names = {values['original_name']: new_name for new_name,
                     values in config['tables'][name]['columns'].items()}

        dataFrames[name] = dataFrame.rename(columns=new_names)
    return dataFrames

dataFrames = rename_columns(dataFrames, config)

In [ ]:
# select columns
def select_columns(dataFrames, config):
    for name, dataFrame in dataFrames.items():
        dataFrames[name] = dataFrame[config['columns'][name]]
    return dataFrames

In [269]:
# Data formatting

In [270]:
# Data Typing

In [271]:
# Handle duplicates

In [272]:
# Handle missing values

## Data Exploration

In [273]:
# Handle outliers

In [274]:
#frequency tables

## Analysis

## Visualizations

## Conclusions

In [ ]:
example_dict = {"key":"Value"}
example_list = ['value','other value']

example_yaml = '''
                key:value               

'''

def read_yaml_from_string(yaml_str):
    try:
        data = yaml.safe_load(yaml_str)
        return data
    except Exception as e:
        print(f"Error loading YAML string: {e}")
        return None

# Example usage
yaml_data = read_yaml_from_string(example_yaml)

if yaml_data:
    print(example_yaml)